@import "../css/normalize";

$dark-green: #1f401f;
$light-green: lighten($dark-green, 25%);
$lightest: lighten($light-green, 40%);
$alt : complement($dark-green);

.wrapper {
  min-height: 100vh;
  background-color: $lightest;
  padding: 2rem;
}

h1,
.control-panel {
  text-align: center;
}

#parks-test {
    color: $dark-green;
}

.box {
  border: 4px solid $dark-green;
  min-height: 4rem;
  display: flex;
  background-color: white;
  border-radius: 10px;
  max-width: 80%;
  min-width: 250px;
  margin: auto;
  margin-top: 3rem;
  // box-shadow: 2px -1px 30px 2px rgba(0,0,0,0.69);
}

#p {
  margin: auto;
  font-size: 1.6rem;
  color: $light-green;
}

.go {
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background: $light-green;
  color: white;

  // box-shadow: 2px -1px 30px 2px rgba(0,0,0,0.69);

  & + .go {
    margin-left: 1rem;
  }
}

.reset {
  background-color: $alt;
}
